/node_modules
.github

.DS_Store

/src
tests
coverage
/other

npm-debug.log*
yarn-debug.log*
yarn-error.log*

tsconfig.json
tsconfig.*.json
jest.json
vitest.config.ts

.travis.yml
.prettier*
.eslintrc.*
.eslintignore
.npmrc
package-lock.json
yarn.lock
vite.config.ts
